

body {
  background-image: linear-gradient(
    45deg,
    hsl(209deg 97% 47%) -1%,
    hsl(219deg 84% 65%) -1%,
    hsl(223deg 84% 74%) 2%,
    hsl(225deg 83% 81%) 9%,
    hsl(227deg 82% 87%) 19%,
    hsl(229deg 78% 93%) 36%,
    hsl(0deg 0% 99%) 86%
  );
  height: 100vh;
}

main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

h1{
  text-align: center;
  color: darkslateblue;
}

#description {
  text-align: center;
  max-width: 500px;
  margin-bottom: 20px;
  padding: 10px;
  font-size:large;
  font-style: italic;
}

h3 {
  text-align: center;
  padding: 10px;
}

.calculator, .result {
  width: min(500px, 70vw);
   padding: 20px;
   background-color: white;
   border-radius: 10px;
   margin:10px;
   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  }

 .input-group {
  line-height: 3;
  width: 100%;
  max-width:300px;
  }

.button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

#calculate-button:hover, #clear-button:hover {
  color: navy;
  transform: scale(1.12);
  transition: all 0.4s ease; 
}

#fee-result {
  font-size: large;
  text-align: center;
}

strong {
  display:inline-block;
  margin-top: 10px;
}